
@font-face {
    font-family:"inter";
    src: 
    url("/fonts/Inter-Web/Inter-Black.woff") format("woff"),
    url("/fonts/Inter-Web/Inter-Black.woff2") format("woff2");
    font-style: bold;
    font-weight: 900;

    font-family:"inter";
    src: 
    url("/fonts/Inter-Web/Inter-Black.woff") format("woff"),
    url("/fonts/Inter-Web/Inter-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;


}