@media screen and (max-width: 767px) and (min-width: 320px) {
  .cover {
    width: 321px;
    height: 254px;
  }

  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    width: 198px;
    font-size: 14px;
    line-height: 16px;
  }
}
