
.cover{
    display:flex;
    position: relative;
    flex-direction: column;
    width: 1184px;
    height: 740px;
    justify-content: center;
    align-items: center;
    margin: auto;
   
   }
   
   .cover__container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    
   
   
   }
   .cover__title{
   color: #FFFFFF;
   font-family: Inter;
   font-size: 72px;
   line-height: 76px;
   text-align: center;
   font-style: normal;
   z-index: 1;
   width: 656px;
   margin: 0;
   
   
   }
   
   
   
   .cover__subtitle{
   color: #FFFFFF;
   font-family: none;
   font-size: 18px;
   font-weight: 400;
   line-height: 22px;
   text-align: center;
   z-index: 1;
   width: 280px;
   height: 66px;
   margin: 0;
   
   
   
   
   }
   
   .cover__image{
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   
   
   }
   