
.place{
    display: grid;
    flex-direction: column;
    align-items: center;
    width: 984px;
    grid-template-columns:460px 484px;
    grid-template-areas: 
    "title website"
    "image paragraphs"
    "button paragraphs";
    justify-content: space-between;
    margin-top: 92px;


}

.place__title{
    color: #fff;
    font-family: Inter;
    font-weight: 900;
    font-style: normal;
    width: 540px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    grid-area: title;


    

}
.place__website{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    text-decoration: Inter;
    width: 456px;
    grid-area: website;
    align-self: flex-end;

}
.place__artist{
color: #AAA;
font-family: Inter;
font-size: 18px;
line-height: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
text-transform: uppercase;
margin: 0;

}

.place__url-heading{
color: #fff;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
font-style: normal;
text-decoration: none;
width: 456px;

}

.place__image{
width: 100%;
grid-area: image;


}

.place__paragraphs{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-items: center;
    grid-area: paragraphs;
    justify-content: space-between;
    align-self: flex-start;
    gap: 40px;
    margin-top: 40px;
    

}

.place__paragraph{
color: #fff;
font-family: inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
font-style: normal;
width: 484px;
margin: 0;

}