.footer {
  color: #ffffff;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  width: 191px;
  height: 16px;
  font-family: Inter;
  font-weight: 400;
}
