@media screen and (max-width:768px){


.intro{
   width: 720px;
   align-items: center;
   
}

.intro__title{
   width: 720px;
   
}

.intro__quote{ 
   width: 720px;
}

.intro__author{
   font-family: Inter;
}

.photo-grid{
grid-template-columns: repeat(2, 1fr);
width: 720px;
row-gap: 10px;



}

.place{

   width: 720px;
   grid-template-columns: 355px 352px;
}

.place__title{
   width: 340px;
   height: 46px;
   font-size: 42px;
   font-weight: 900;
   line-height: 46px;



}

.place__website{
 width: 295px;

 
}

.place__artist{
   font-size: 12px;
   line-height: 15px;
   width: 58px;

   

}


.place__url-heading{
   width: 295px;
   height: 44px;


}

.place__image{
 width: 340px;

}

.place__paragraphs{
   width: 352px;


}

.place__paragraph{
font-style: normal;
width: 352px;


}
.cover{
width: 768px;
height: 746px;

}


}






   
   @media screen and (max-width:320px) {

      .logo{
         width: 200px;
      }

      .lead{
         justify-content: stretch;
         width: 288px;
      }


      .lead__title{
         width: 288px;
         font-size: 40px;
         font-weight: 900;
         line-height: 44px;
         top: 122px;


      }

      .lead__subtitle{
         width: 288px;
         font-family: Inter;
         font-size: 16px;
         line-height: 20px;


      }
     
      .lead__image{
         width: 320px;
         top: 350px;

      }

      .intro{
         width: 288px;

      }

      .intro__title{
         width: 288px;
         font-size: 32px;
         font-weight: 900;
         line-height: 35px;
         text-align: left;


      }

     .intro__quote{
      width: 288px;
      line-height: 30px;
      
     }

     .intro__author{
      width: 288px;
      


     }

     .intro__text{
      width: 288px;

     }




     .photo-grid{
      width: 288px;
      grid-template-columns: repeat(1, 1fr);
      

      

     }


      .place{
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 288px;

      }


  
    .place__title{
      width: 288px;
      font-size: 32px;
      line-height: 35px;


  }
  .place__website{
   width: 288px;
   align-self: center;
   margin-top: 30px;

  }
  .place__artist{
   width: 288p;
   font-size: 12px;


  }

.place__url-heading{
 width: 288px;

}


.place__image{
   width: 320px;


}


.place__paragraphs{
   width: 288px;



}

.place__paragraph{
   width: 288px;
   font-size: 16px;
   text-align: center;

}

.buy-button{
   width: 288px;
}

.buy-button__paragraph{
   width: 245px;
   font-size: 14px;
}

.cover{
width: 321px;
height: 254px;


}

.cover__title{
   width: 288px;
   font-size: 32px;
   line-height: 35px;


}

.cover__subtitle{
   width: 198px;
   font-size: 14px;
   line-height: 16px;


   
}

.buy-button_cover{
   width: 198px;
   height: 48px;
   text-align: center;
   font-size: 18px;

}

.buy-button__paragraph_cover{
   width: 158px;
}



   }